.header {
  padding: 30px 0px 0px 0px;
}

.header__header {
  width: 100%;
  padding: 0 60px;
  position: fixed;
  z-index: 50;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  z-index: 4;
}

.header__menu {
  margin: 0px 0px 0px 0px;
  z-index: 5;
}

.header__scroll {
  z-index: 5;
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 6;
}

.header__link {
  margin: 0px 20px 0px 20px;
  color: #000;
  font-weight: 500;
  font-size: 15px;
  line-height: 16.5px;
  transition: all 0.3s ease;
  display: inline-block;
}

.header__connection {
  display: block;
  position: relative;
  z-index: 6;
}

.header__adress {
  color: #000;
  font-size: 15px;
  line-height: 21px;
  text-align: right;
  margin-right: 40px;
  transition: all 0.3s ease;
}

.header__contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

.header__tel {
  color: #000;
  font-size: 15px;
  line-height: 21px;
  transition: all 0.3s ease;
}

.header__img_tel {
  display: none;
}

.header__img_telhover {
  display: none;
}

.header__img_geo {
  display: none;
}

.header__img_geohover {
  display: none;
}

.header__imges {
  display: none;
}

.header__connection {
  display: flex;
}

.header__imges_mail {
  display: none;
}

.header__tel:hover, .header__mail:hover, .header__link:hover, .header__adress:hover {
  color: #88C558;
  transition: all 0.3s ease;
}

.header__mail {
  color: #000;
  font-size: 15px;
  line-height: 21px;
  transition: all 0.3s ease;
}

.header__burger {
  display: none;
  cursor: pointer;
}

.header__body {
  padding: 80px 0px 0px 0px;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slaider .slick-dots {
  position: absolute;
  bottom: 40px;
  left: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.slaider .slick-dots li {
  list-style: none;
  margin: 0px 0px 0px 8px;
}

.slaider .slick-dots button {
  font-size: 0;
  height: 3px;
  width: 24px;
  opacity: 0.5;
}

.slaider .slick-dots .slick-active button {
  font-size: 0;
  height: 3px;
  width: 50px;
  opacity: 1;
}

.slaider {
  position: relative;
}

.slaider__img img {
  width: 100%;
  max-width: 1920px;
}

.slaider__text {
  position: absolute;
  bottom: 100px;
  margin: 0px 0px 0px 60px;
  font-size: calc(16px + 2.5vw);
  line-height: 1.5;
  color: #FFFFFF;
  font-weight: 800;
}

@media (min-width: 1920px) {
  .slaider__text {
    font-size: 64px;
  }
}
@media (max-width: 767px) {
  .slaider__text {
    font-size: calc(16px + 81.6 * (100vw - 320px) / 1920);
    margin: 0px 0px 0px 28px;
    bottom: 60px;
  }
}
@media (max-width: 1485px) {
  .header__mail, .header__tel, .header__adress {
    display: none;
  }

  .header__imges {
    display: flex;
  }

  .header__connection {
    display: flex;
    justify-content: flex-start;
  }

  .header__imges_tel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 0px -10px;
  }

  .header__img_tel {
    display: block;
    position: relative;
    width: 30px;
  }

  .header__img_telhover {
    display: block;
    width: 30px;
  }

  .header__imges_mail {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 0px -10px;
  }

  .header__img_mail {
    display: block;
  }

  .header__img_mailhover {
    display: block;
  }

  .header__imges_geo {
    display: flex;
    justify-content: space-between;
  }

  .header__img_geo {
    display: block;
  }

  .header__img_geo {
    display: flex;
  }
}
@media (max-width: 1215px) {
  .header__link {
    margin: 0px 10px 0px 10px;
  }
}
@media (max-width: 1075px) {
  .header__burger {
    display: block;
    position: absolute;
    right: 60px;
    top: 15px;
    width: 25px;
    height: 10px;
    z-index: 10;
  }

  .header__burger:before,
.header__burger:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background: #468c11;
    left: 0;
    transition: all 0.3s ease;
  }

  .header__burger:before {
    content: "";
    top: 0;
  }

  .header__burger.active:before {
    transform: rotate(-45deg);
    top: 5px;
    transition: all 0.3s ease;
  }

  .header__burger.active:after {
    transform: rotate(45deg);
    top: 5px;
    transition: all 0.3s ease;
  }

  .header__burger:after {
    content: "";
    bottom: -5.5px;
  }

  .header__burger span {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background: #468c11;
    top: 6px;
    transition: all 0.3s ease;
  }

  .header__burger.active span {
    transition: all 0.3s ease;
    display: none;
  }

  .header__menu.active {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(136, 197, 88, 0.7);
    overflow: auto;
  }

  .header__menu {
    top: -10000px;
  }

  .header__list {
    display: none;
  }

  .header__list.active {
    display: block;
    position: absolute;
    right: 50%;
    margin: 100px 0px 0px 0px;
  }

  .header__link {
    margin: 0px 0px 30px 0px;
    font-size: 24px;
    position: relative;
    left: 75px;
  }

  .header__connection.active {
    position: absolute;
    top: 400px;
    right: 50%;
  }

  .header__connection {
    top: -10000px;
  }

  .header__contact {
    position: relative;
    left: 80px;
  }
}
@media (max-width: 550px) {
  .slaider__text {
    margin: 0px 0px 0px 20px;
    bottom: 40px;
  }
}
@media (max-width: 425px) {
  .header__header {
    padding: 0 30px;
  }

  .header__burger {
    right: 30px;
  }

  .slaider__text {
    margin: 0px 0px 0px 10px;
    bottom: 20px;
  }
}
.header__burger:before,
.header__burger:after {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 2px;
  color: #000;
  left: 0;
}

.header__burger:before {
  content: "";
  top: 0;
}

.header__burger:after {
  content: "";
  bottom: 0;
}

.header__burger span {
  display: block;
  position: absolute;
  width: 10px;
  height: 2px;
  color: #000;
  top: 10px;
}